@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import '../../sidebar/sidebar.css';

body {
  background-color: #2e3e3f;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar ul :nth-child(6) a {
  color: white;
}

.wrapper .sidebar ul :nth-child(6) {
  background-color: #acc8c9;
}


.wrapper .main_content {
  display: flex;
  width: 100%;
  padding: 40px 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper .main_content h1 {
  text-align: left;
  align-items: left;
  color: #acc8c9;
}

.main_content h1:first-of-type {
  font-size: 60px;
}

.main_content h2{
  font-size: 30px;
  color: #acc8c9;
}

.flex-container {
  display: flex;
  list-style: none;
}

.flex-container .flex-item h1 {
  font-size: 30px;
  color: #2e3e3f;
}

.flex-item {
  padding-top: 3%;
  display: flex;
  background: #acc8c9;
  color: #385170;
  width: 64vw;
  min-width: 400px;
  height: 130vh;
  min-height: 800px;
  border: 2px solid rgba(211, 245, 250, 0.3);
  border-radius: 28px;
  flex-direction: column;
  padding-left: 5%;
  align-items: left;
}


select::-ms-expand {
  display: none;
}

.selectdiv {
  position: relative;
  width: 25%;
}



.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 200%;
  min-width: 200px;
  height: 50px;
  float: left;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
  margin-bottom: 15%;
}

.selectdiv::after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 18px;
  border-bottom: 1px solid #999;
  position: absolute;

}

.Reward_list {
  width: 350px;
  height: 200px;
  overflow-y: auto;
}

.Reward_list a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  border-bottom: 1px solid #5c7879;

}

.Reward_list i:first-of-type {
  margin-left: 20%;
  padding: 5px;
}

.flex-item label{
  font-size:larger;
  font-weight: bold;
  color: #2e3e3f;
}

#nextext{
  font-size:23px;
  font-weight: bold;
  color: #2e3e3f;
}

.flex-item h3{
  font-size:23px;
  font-weight: bold;
  color: #2e3e3f;
}

#butoane{
  margin-top: 2%;
  width: 30%;
  height: 40px;
  border:none;
  color: white;
  background-color: #2e3e3f;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}

#butoane:hover{
  background-color:#01858f;
}

.Addbutton {
  margin-top: 2%;
  width: 200px;
  height: 50px;
  border: none;
  color: white;
  background-color: #2e3e3f;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}

.submit_reward {
  display: flex;
  flex-direction: column;
  top: 4%;
  align-items: flex-end;
  justify-content: flex-start;
  margin-right: 10%;
}

.reward {
  line-height: 25px;
  text-align: center;
  width: 200px;
  height: 25px;
  background-color: white;
}

.flex-item .Requirements {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

.Requirements h2 {
  color: #2e3e3f;
  margin-bottom: 1%;
}

.Requirements input {
  margin-top: 1%;
  width: 20%;
  height: 40px;
  text-align: center;
  font-size: 130%;
}

.main_content .fa-solid:hover{
  color: #01858f;
}

.Addbutton:hover {
  background-color: #01858f
}

.sidebar .fa-solid{
  display: none;
}

/* Optiunile de la alegerea tipului de Reward */
.dynamic_reward_type, .dynamic_rule_type{
  display: none;
}


@media(max-width:650px) {

  .wrapper .sidebar ul li {
    display: block;
  }
  .wrapper .nav .sidebar {
    position: absolute;
    height: 100vh;
    top: 0;
    left: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  .nav .fa-solid{
    display: block;
    color: #fff;
    font-size: 22px;
    margin: 15px;
    cursor: pointer;
  }
  .sidebar .fa-solid{
    margin-left: 80%;
    padding-bottom: 10%;
 }
  .wrapper .main_content{
    margin-left: 0px;
  }

}

