@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #2e3e3f;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 200px;
  height: 100%;
  background: #5c7879;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2 {
  color: rgb(150, 204, 203);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}



.wrapper .sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid #5c7879;
}

.wrapper .sidebar ul li a {
  color: #c4cfd4;
  display: block;
}


.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul :nth-child(5) a {
  color: white;
}

.wrapper .sidebar ul :nth-child(5) {
  background-color: #acc8c9;
}

.wrapper .sidebar ul li:hover {
  background-color: #acc8c9;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.wrapper .sidebar .social_media {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a {
  display: block;
  width: 40px;
  background: #c4cfd4;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #091826;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content {
  display: flex;
  width: 100%;
  margin-left: 200px;
  padding: 40px 0px;
  align-items:center;
  justify-content:center;
  flex-direction: column;
}

.wrapper .main_content h1{
  text-align: left;
  align-items: left;
  color: #acc8c9;
}

.main_content h1:first-of-type{
  font-size: 50px;
  padding-bottom: 10px;
}


.flex-container {
  display: flex;
  padding-top: 3%;
  list-style:none;
}

.main_content .flex-container .flex-item h1{
  padding-top: 3%;
  font-size: 40px;
  color: black;
}

.flex-item {
  display: flex;
  background: #acc8c9;
  color: #385170;
  width: 60vw;
  min-width: 400px;
  height: 72vh;
  border: 2px solid rgba(211, 245, 250, 0.3);
  border-radius: 28px;
  flex-direction: column;
  padding-left: 5%;
  align-items: left;
}



select::-ms-expand {
display: none;
}

.selectdiv {
  position: relative;
  width: 200px;
}

.selectdiv:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right:-45%;
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 350px;
  min-width: 200px;
  height: 50px;
  float:left;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
  margin-bottom: 15%;
}

.Reward_list{
  width: 350px;
  height: 200px;
  overflow-y: auto;
}

.Reward_list a{
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  border-bottom: 1px solid #5c7879;

}

.Reward_list i:first-of-type{
 margin-left: 20%;
 padding:5px;
}

.Addbutton{
  margin-top: 2%;
  width: 200px;
  height: 50px;
  border:none;
  color: white;
  background-color: #2e3e3f;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}

.submit_reward{
  display: flex;
  flex-direction: column;
  top:4%;
  align-items:flex-end;
  justify-content: flex-start;
  margin-right: 10%;
}

.reward{
  line-height: 25px;
  text-align:center;
  width:200px;
  height:25px;
  background-color: white;
}

.Addbutton:hover{
  background-color:#01858f
}


@media (max-width: 1060px) {
  .flex-container {
    flex-wrap: wrap;
  }
}

.sidebar .fa-solid{
  display: none;
}


@media(max-width:650px) {

  .wrapper .sidebar ul li {
    display: block;
  }
  .wrapper .nav .sidebar {
    position: absolute;
    height: 100vh;
    top: 0;
    left: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  .nav .fa-solid{
    display: block;
    color: #fff;
    font-size: 22px;
    margin: 15px;
    cursor: pointer;
  }
  .sidebar .fa-solid{
    margin-left: 80%;
    padding-bottom: 10%;
 }
  .wrapper .main_content{
    margin-left: 0px;
  }

}
