@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import '../sidebar/sidebar.css';

body {
  background-color: #2e3e3f;
}

.wrapper {
  display: flex;
  position: relative;
}


.wrapper .sidebar ul :nth-child(3) a {
  color: white;
}

.wrapper .sidebar ul :nth-child(3) {
  background-color: #acc8c9;
}

  .main_content {
  display: flex;
  width: 100%;
  margin-left: 200px;
  padding: 40px 0px;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  
}

.wrapper .main_content h1{
  text-align: center;
  color: #acc8c9;
}

.main_content h1:first-of-type{
  font-size: 50px;
  padding-bottom: 10px;
}

.main_content button{
  width: 200px;
  height: 45px;
  border:none;
  color: white;
  background-color: #2e3e3f;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}


.flex-container {
  display: flex;
  list-style:none;
}


.flex-item {     /* patratul din mijloc */ 
  display: flex;
  background: #acc8c9;
  color: #385170;
  width: 60vw;
  height: 72vh;
  border: 2px solid rgba(211, 245, 250, 0.3);
  border-radius: 28px;
  flex-direction: column;
  padding-left: 5%;
}




.Profile {
  display:flex;
  height: 200px;
  width: 200px;
  padding:7%;
  color: #2e3e3f;
  flex-direction: column;
  align-items: center;
}

.Profile h2{
font-size: 70px;
}

.RightSide{
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  margin-right: 20%;
}

.RightSide input{
  height:40px;
  width:300px;
  margin-bottom: 5%;
}

.BottomButtons{
  display: flex;
  margin-top: 10%;
}

.BottomButtons button:nth-child(3){
  margin-left: 10px;
}

.RightSide button:hover{
  background-color:#01858f
}


