@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #2e3e3f;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 200px;
  height: 100%;
  background: #5c7879;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2 {
  color: rgb(150, 204, 203);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}



.wrapper .sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid #5c7879;
}

.wrapper .sidebar ul li a {
  color: #c4cfd4;
  display: block;
}


.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul :nth-child(4) a {
  color: white;
}

.wrapper .sidebar ul :nth-child(4) {
  background-color: #acc8c9;
}

.wrapper .sidebar ul li:hover {
  background-color: #acc8c9;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.wrapper .sidebar .social_media {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a {
  display: block;
  width: 40px;
  background: #c4cfd4;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #091826;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

  .main_content {
  display: flex;
  width: 100%;
  margin-left: 200px;
  padding: 40px 0px;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  
}

.wrapper .main_content h1{
  text-align: center;
  color: #acc8c9;
}


/*incepe partea ne-reutilizata */





.main_content h1:first-of-type{
  font-size: 50px;
  padding-bottom: 10px;
}

.main_content button{
  width: 200px;
  height: 45px;
  border:none;
  color: white;
  background-color: #2e3e3f;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}


.flex-container {
  display: flex;
  padding-top: 3%;
  list-style:none;
}


.flex-item {     /* patratul din mijloc */ 
  display: flex;
  background: #acc8c9;
  color: #385170;
  width: 60vw;
  height: 72vh;
  border: 2px solid rgba(211, 245, 250, 0.3);
  border-radius: 28px;
  flex-direction: column;
  padding-left: 5%;
}




.Profile {
  display:flex;
  height: 200px;
  width: 200px;
  padding:7%;
  color: #2e3e3f;
  flex-direction: column;
  align-items: center;
}

.Profile h2{
font-size: 70px;
}

.RightSide{
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  margin-right: 20%;
}

.RightSide input{
  height:30px;
  width:300px;
  margin-bottom: 5%;
}

.BottomButtons{
  display: flex;
  margin-top: 25%;
}

.BottomButtons button:nth-child(2){
  margin-left: 10px;
}

.BottomButtons button:hover{
  background-color:#01858f
}


@media (max-width: 1060px) {
  .flex-container {
    flex-wrap: wrap;
  }
}
