@import url('./whygams.css');
@import url('./about.css');
@import url('./contactus.css');
@import url('./signinup.css');
*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
}
.header{
    min-height: 100vh;
    width: 100vw;
    background-image: url("../img/banner2.jpg");
    background-size: cover;
    background-position: relative;
}

nav{
    display: flex;
    padding: 0.5% 3%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 20vw;
    height: auto;
}

.nav-links{
    flex:1;
    text-align: right;
}

.nav-links ul li{
    list-style: none; 
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.25vw;
}

.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90vw;
    color: #000000;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 4vw;
}

.text-box p{
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5vh;
    color: #000000;
    width: 50%;
}

.get_started_button{
    display: inline-block;
    text-decoration: none;
    color:white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 3vw;  
    background: transparent;
    position: relative;
    cursor: pointer; 
}
.get_started_button:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa{
    display: none;
}

/* Features */
.features{
    margin: auto;
    text-align: center;
    padding-top: 100px;
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(217, 230, 234, 0.922),rgba(204, 219, 223, 0.747)), url('../img/background2.jpg');
    background-size: cover;
    background-position: relative;
}
.features h1{
    font-size:3vw;
    font-weight: 600;
}

.features p{
    margin-left: 10%;
    margin-right: 10%;
    color:#000000;
    font-size: 1.25vw;
    font-weight: 300;
    line-height: 150%;
    padding: 10px;
}
.feature_row{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
}
.features_column{
    flex-basis: 31%;
    max-width: 500px;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    text-align: justify;
    transition: 0.5s;
}
.features_column h3{
    font-size: 1.5vw;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.features_column p{
    font-size: 1vw;
}
.features_column:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.features_column img{
    display: block;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* Testimonials */
.testimonials{
    width:100vw;
    margin:auto;
    padding-top: 100px;
    text-align: center;
    background: linear-gradient(rgba(217, 230, 234, 0.922),rgba(204, 219, 223, 0.747)), url('../img/background3.jpg');
}

.testimonials h1{
    font-size:3vw;
    font-weight: 600;
}
.testimonials p{
    margin-left: 10%;
    margin-right: 10%;
    color:#000000;
    font-size: 1.25vw;
    font-weight: 300;
    line-height: 150%;
    padding: 10px;
}

.testimonial-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 20px 12px;
    cursor:pointer;
    box-sizing: border-box;
    text-align: justify;
}

.testimonial-col img{
    height: 15vh;
    width: 15vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    border-radius: 50%;
    display: block;
}

.testimonial-col p{
    padding: 0;
    font-size: 1vw;
}
.testimonial-col h3{
    font-size: 1.5vw;
    text-align: left;
    font-weight: 600;
    margin-left: 10%;
    margin-top: 5%;
}
.testimonial-col h4{
    font-weight: 300;
    font-size: 1.1vw;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}
.testimonial-col .reviews{
    margin-left: 10%;
    color: #3da704;
    text-align: left;

}

/* Call to action */
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(131, 117, 117, 0.7), rgba(134, 126, 126, 0.7)),url('../img/banner1.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

/* Footer */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 10vh;
}

.footer h4{
    margin-bottom: 5vh;
    margin-top: 5vh;
    font-weight: 600;
}
.footer p{
    font-size: 1vw;
}

.icons .fa{
    color:#370da0;
    margin: 0 13px;
    cursor: pointer;
    padding: 13px 0;
}
.red-btn{
    border: 1px solid #370da0;
    background: transparent;
    color: #370da0;
} 
/** specs for smaller screens */ 
@media(max-width:700px){

.text-box{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size:6vw;
}
.text-box p{
    margin-left: auto;
    margin-right: auto;
    font-size: 4vw;
    color: #000000;
    width: 75vw;
}
.nav-links ul li{
    display: block;
    padding: 2vh 0.35em;
}
.nav-links{
    position: fixed;
    background: #f44336;
    height: 100vh;
    width: 35%;
    top:0;
    right: -35%;
    text-align: left;
    z-index: 2;
    transition: 1s;
}
nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}

.nav-links ul{
    padding: 15%;
}
.nav-links ul li a{
    font-size: 1.5vh;
}

/* Our Features */
.feature_row{
    flex-direction: column;
}
.features h1{
    font-size:5vw;
}
.features p{
    color:#000000;
    font-size: 4vw;
    font-weight: 300;
    line-height: 200%;
    padding: 10px;
}

.features_column h3{
    font-size: 4vw;
}
/* Testimonials */
.testimonials h1{
    font-size:5vw
}
.testimonials p{
    color:#000000;
    font-size: 4vw;
    font-weight: 300;
    line-height: 200%;
    padding: 10px;  
}
.testimonials  h3{
    font-size: 4vw;
}
.testimonials  h4{
    font-size: 3vw;
}

}

