@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import '../sidebar/sidebar.css';

body {
  background-color: #2e3e3f;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar ul :nth-child(2) a {
  color: white;
}

.wrapper .sidebar ul :nth-child(2) {
  background-color: #acc8c9;
}


.main_content {
  display: flex;
  width: 100%;
  margin-left: 200px;
  padding: 40px 0px;
  align-items:center;
  flex-direction: column;
}

.wrapper .main_content h1{
  text-align: center;
  color: #acc8c9;
}

.wrapper .main_content h1{
  text-align: center;
  color: #acc8c9;
}


.main_content h1:first-of-type{
  font-size: 50px;
  padding-bottom: 10px;
}


.domainWindow {
  display: flex;
  width: 65vw;
  height: 70vh;
  background: #acc8c9;
  margin: 4px;
  color: #2e3e3f;
  font-weight: bold;
  font-size: 2em;
  padding-left: 10%;
  border: 2px solid rgba(211, 245, 250, 0.3);
  border-radius: 28px;
  flex-direction: column;
}


.domainWindow h2{
  margin-top: 2%;
  margin-bottom: 4%;
  justify-content: center;
  color: #2e3e3f;
}


.domainWindow .AddButton{
    font-size: 20px;
    margin-top: 3%;
    width: 170px;
    height: 60px;
    border:none;
    color: white;
    background-color: #2e3e3f;
    border-radius: 4px;
    outline: none;
}


#domainList .fas{
  padding-left: 15px;
  padding-right: 10px;
  font-size: 27px;
}

#domainList{
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 280px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

#domainList li{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
}

#domainList li .fas:first-of-type{
 margin-left: auto;
 padding-right: 0;
}

#domainList .fas:hover{
  color:#01858f;
  font-size: 35px;
}

#username_form{
  display: none;
}

.AddButton:hover{
  background-color:#01858f;
}

#webpage_id{
  display: none;
}


@media (max-width: 1060px) {
  .flex-container {
    flex-wrap: wrap;
  }
}

@media (max-width: 1060px) {
  .wrapper .main_content {
    margin-left: 100px;
  }
}