@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import '../../sidebar/sidebar.css';

body{
   background-color: #2e3e3f;
}

.wrapper{
  display: flex;
  position: relative;
}


.wrapper .sidebar ul li:nth-child(7) a{
color: white;
}

.wrapper .sidebar ul li:nth-child(7){
  background-color: #acc8c9;
}

.wrapper .main_content h1{
  text-align: center;
  color: #acc8c9;
}

#hed{
  margin-top: 4%;
  font-size: 60px;
}
.main_content h1:nth-child(1){
  padding-bottom: 1%;
  font-size: 50px;
}

.main_content{
  width: 100%;
  align-items: center;
  justify-content: center;
}



.flex-container {
  display: flex;
  align-items:center;
  padding-top: 100px;
  margin: -80px 125px;
  justify-content: space-around;
}

.flex-item {
  display: flex;
  align-items:center;
  justify-content: center;
  background: #acc8c9;
  margin: 4px;
  color: #2e3e3f;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  width: 400px;
  min-width: 160px;
  height: 160;
  min-height: 140px;
  padding-left: 0px;
  border: 2px solid rgba(211, 245, 250, 0.3);
  border-radius: 28px;
  font-size: 30px;
  padding-top: 3%;
  padding-bottom: 3%;
}

.flex-item ol {
  display: list-item;
  list-style-type: decimal;
}
@media (max-width: 1060px){
  .flex-container{
    flex-wrap: wrap;
    margin:0px;
  }

}


.sidebar .fa-solid {
  display: none;
}


@media(max-width:650px) {

  .wrapper .sidebar ul li {
    display: block;
  }

  .wrapper .nav .sidebar {
    position: absolute;
    height: 100vh;
    top: 0;
    left: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  .nav .fa-solid {
    display: block;
    color: #fff;
    font-size: 22px;
    margin: 15px;
    cursor: pointer;
  }

  .sidebar .fa-solid {
    margin-left: 80%;
    padding-bottom: 10%;
  }

  .wrapper .main_content {
    margin-left: 0px;
  }

}