html{
    background-color: rgb(158, 156, 156);
    background-attachment: fixed;
}

body{
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    background-color: antiquewhite;
    padding: 3%;
    border: 2px dotted saddlebrown;
}

h1{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 15%;
}

h2{
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10%;
}

.landing_page{
    width:30%;
    height: auto;
}

dt{
    font-weight: 500;
}