@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import '../../sidebar/sidebar.css';

body {
  background-color: #2e3e3f;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar ul :nth-child(3) a {
  color: white;
}

.wrapper .sidebar ul :nth-child(3) {
  background-color: #acc8c9;
}

.wrapper .main_content {
  display: flex;
  width: 100%;
  padding: 40px 0px;
  align-items:center;
  justify-content:center;
  flex-direction: column;
}

.wrapper .main_content h1{
  text-align: center;
  color: #acc8c9;
}

.main_content h1:first-of-type{
  font-size: 50px;
  padding-bottom: 10px;
}

.flex-container {
  padding-top: 3%;
}

.flex-item {
  padding-top: 3%;
  list-style:none;
  display: flex;
  background: #acc8c9;
  color:#2e3e3f;
  width: 60vw;
  height: 72vh;
  border: 2px solid rgba(211, 245, 250, 0.3);
  border-radius: 28px;
  flex-direction: column;
  padding-left: 5%;
}

 .flex-item h2{
  font-size: 2.5vw;
  color: #2e3e3f;
  padding-top: 3%;
  text-align: left;
  padding-bottom: 4%;
}

.flex-item input{
  margin-top:1%;
  width:40%;
  height: 4vh;
}


.Achievements_list{
  width: 350px;
  height: 140px;
  padding-right: 5px;
  margin-top: 2%;
}

.flex-item label{
  font-size:larger;
  font-weight: bold;
}

.butoane{
  width: 30%;
  height: 40px;
  border:none;
  color: white;
  background-color: #2e3e3f;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}

.Achievements_list p{
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  border-bottom: 1px solid #5c7879;
}

.Achievements_list .fas:first-child{
 padding-left: 8%;
 padding-right: 1%;
}

.AddAchievement button{
 height:33px;
 width: 100px;
}



.butoane:hover{
  background-color:#01858f;
}

.Achievements_list .fas:hover{
  color:#01858f;
}


.sidebar .fa-solid{
  display: none;
}


@media(max-width:650px) {

  .wrapper .sidebar ul li {
    display: block;
  }
  .wrapper .nav .sidebar {
    position: absolute;
    height: 100vh;
    top: 0;
    left: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  .nav .fa-solid{
    display: block;
    color: #fff;
    font-size: 22px;
    margin: 15px;
    cursor: pointer;
  }
  .sidebar .fa-solid{
    margin-left: 80%;
    padding-bottom: 10%;
 }
  .wrapper .main_content{
    margin-left: 0px;
  }

}
