@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import '../../sidebar/sidebar.css';

body {
  background-color: #2e3e3f;
}

.wrapper {
  display: flex;
  position: relative;
}

.sidebar ul :nth-child(3) a {
  color: white;
}

.sidebar ul :nth-child(3) {
  background-color: #acc8c9;
}

.main_content {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 40px 0px;
  align-items:center;
  justify-content:center;
  flex-direction: column;
}

h1{
  text-align: center;
  color: #acc8c9;
  font-size: 50px;
  padding-bottom: 10px;
}
h2{
  text-align: center;
  color: #acc8c9;
  font-size: 25px;
  padding-bottom: 10px;
  max-width: 60vw;
}
h3{
  font-size:40px;
  margin-bottom: 20px;
  color: #2e3e3f;
}

.flex-container {
  padding-top: 1%;
  height: 72vh;
  list-style:none;
  width: 80%;
  
}

.flex-item {
  padding-top: 3%;
  list-style:none;
  display: flex;
  background: #acc8c9;
  color: #385170;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(211, 245, 250, 0.3);
  border-radius: 28px;
  flex-direction: column;
  padding-left: 5%;
}

.achievement_list{
  width: 90%;
  min-width: 150px;
  height: 280px;
  overflow-y: auto;
  margin-top: 8%;
}

 .flex-container .flex-item h1{
  text-align: left;
  font-size: 40px;
  color: #2e3e3f;
}

.Addbutton{
  margin-top: 5%;
  width: 30%;
  height: 40px;
  border:none;
  color: white;
  background-color: #2e3e3f;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}

.achievement_list .fas:hover{
  color: #01858f;
}
.Addbutton:hover{
  background-color:#01858f
}

.id_achievement{
  display:none;
}

#achievementList{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 280px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

#achievementList li{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  font-size: 24px;
  color: #2e3e3f;
}
#achievementList li .fas:first-of-type{
  margin-left: auto;
  padding-right: 0;
 }
 .fas{
  padding-left: 5px;
 }

.achievement_list p{
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  border-bottom: 1px solid #5c7879;
}

 
.achievement_list .fas:hover{
  color: #01858f;
}
#nav  {
  height: 100vh;
  text-align: left;
}




/* FOrmatari pt meniul de search*/
#myInput {
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}
.input_icon i {
  position: absolute;
}

.input_icon {
  width: 90%;
  margin-bottom: 10px;
  position: relative;
}
.fa-search {
  padding: 15px;
  min-width: 40px;
}

@media (max-width: 1060px) {
  .flex-container {
    flex-wrap: wrap;
  }
}


.sidebar .fa-solid{
  display: none;
}


@media(max-width:650px) {

  .wrapper .sidebar ul li {
    display: block;
  }
  .wrapper .nav .sidebar {
    position: absolute;
    height: 100vh;
    top: 0;
    left: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  .nav .fa-solid{
    display: block;
    color: #fff;
    font-size: 22px;
    margin: 15px;
    cursor: pointer;
  }
  .sidebar .fa-solid{
    margin-left: 80%;
    padding-bottom: 10%;
 }
  .wrapper .main_content{
    margin-left: 0px;
  }

}
