@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import '../../sidebar/sidebar.css';

body {
  background-color: #2e3e3f;
}

.wrapper {
  display: flex;
  position: relative;
}

.sidebar ul :nth-child(5) a {
  color: white;
}

.sidebar ul :nth-child(5) {
  background-color: #acc8c9;
}

.main_content {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 40px 0px;
  align-items:center;
  justify-content:center;
  flex-direction: column;
}

h1{
  text-align: center;
  color: #acc8c9;
  font-size: 50px;
  padding-bottom: 10px;
}
h2{
  text-align: center;
  color: #acc8c9;
  font-size: 25px;
  padding-bottom: 10px;
  max-width: 60vw;
}
h3{
  font-size: 23px;
  margin-bottom: 20px;
}

.flex-container {
  padding-top: 1%;
  height: 72vh;
  list-style:none;
  width: 80%;
  
}

.flex-item {
  padding-top: 3%;
  list-style:none;
  display: flex;
  background: #acc8c9;
  color: #385170;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(211, 245, 250, 0.3);
  border-radius: 28px;
  flex-direction: column;
  padding-left: 5%;
}

.events_list{  
  width: 90%;
  min-width: 150px;
  height: 280px;
  overflow-y: auto;
  margin-top: 8%;
}

.flex-container .flex-item h1{
  text-align: left;
  font-size: 40px;
  color: #2e3e3f;
}
.Addbutton{
  margin-top: 5%;
  width: 30%;
  height: 40px;
  border:none;
  color: white;
  background-color: #2e3e3f;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}

.Event_list .fas:hover{
  color: #01858f;
}
.Addbutton:hover{
  background-color:#01858f
}

.id_event{
  display:none;
}

#eventList{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 280px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

#eventList li{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  font-size: 22px;
}
#eventList li .fas:first-of-type{
  margin-left: auto;
  padding-right: 0;
 }
 .fas{
  padding-left: 5px;
 }

.events_list p{
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  border-bottom: 1px solid #5c7879;
}

 
.events_list .fas:hover{
  color: #01858f;
}
#nav  {
  height: 100vh;
  text-align: left;
}


@media (max-width: 1060px) {
  .flex-container {
    flex-wrap: wrap;
  }
}

.sidebar .fa-solid {
  display: none;
}


@media(max-width:650px) {

  .wrapper .sidebar ul li {
    display: block;
  }

  .wrapper .nav .sidebar {
    position: absolute;
    height: 100vh;
    top: 0;
    left: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  .nav .fa-solid {
    display: block;
    color: #fff;
    font-size: 22px;
    margin: 15px;
    cursor: pointer;
  }

  .sidebar .fa-solid {
    margin-left: 80%;
    padding-bottom: 10%;
  }

  .wrapper .main_content {
    margin-left: 0px;
  }

}
