@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import '../../sidebar/sidebar.css';

body {
  background-color: #2e3e3f;
}

.wrapper {
  display: flex;
  position: relative;
}


.wrapper .sidebar ul :nth-child(4) a {
  color: white;
}

.wrapper .sidebar ul :nth-child(4) {
  background-color: #acc8c9;
}

.wrapper .main_content {
  display: flex;
  width: 100%;
  margin-left: 200px;
  padding: 40px 0px;
  align-items:center;
  justify-content:center;
  flex-direction: column;
}

.wrapper .main_content h1{
  text-align: center;
  color: #acc8c9;
}

.main_content h1:first-of-type{
  font-size: 50px;
  padding-bottom: 10px;
}


.flex-container {
  padding-top: 3%;
  list-style:none;
  
}

.flex-item {
  padding-top: 3%;
  list-style:none;
  display: flex;
  background: #acc8c9;
  color: #385170;
  width: 60vw;
  height: 72vh;
  border: 2px solid rgba(211, 245, 250, 0.3);
  border-radius: 28px;
  flex-direction: column;
  padding-left: 5%;
}

.Event_list{  
  width: 40%;
  min-width: 150px;
  height: 280px;
  overflow-y: auto;
  margin-top: 8%;
}

.Event_list a{
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  padding-right: 1%;
  text-decoration: none;
  border-bottom: 1px solid #5c7879;
}

.Event_list i:first-of-type{
 margin-left: 20%;
 padding:5px;
}

.flex-container .flex-item h1{
  text-align: left;
  font-size: 40px;
  color: #2e3e3f;
}
.Addbutton{
  margin-top: 8%;
  width: 30%;
  height: 40px;
  border:none;
  color: white;
  background-color: #2e3e3f;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}

.Event_list .fas:hover{
  color: #01858f;
}
.Addbutton:hover{
  background-color:#01858f
}


@media (max-width: 1060px) {
  .flex-container {
    flex-wrap: wrap;
  }
}

.sidebar .fa-solid {
  display: none;
}


@media(max-width:650px) {

  .wrapper .sidebar ul li {
    display: block;
  }

  .wrapper .nav .sidebar {
    position: absolute;
    height: 100vh;
    top: 0;
    left: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  .nav .fa-solid {
    display: block;
    color: #fff;
    font-size: 22px;
    margin: 15px;
    cursor: pointer;
  }

  .sidebar .fa-solid {
    margin-left: 80%;
    padding-bottom: 10%;
  }

  .wrapper .main_content {
    margin-left: 0px;
  }

}
