<html>
  <head>
    <!-- Render object array, properly setting fn from prop instead of attribute -->
    <script>
      class MyComponent extends HTMLElement {
        todos = [];
        
        connectedCallback() {
          this.render();
        }
        
        // This function can be accessed in element query to set internal data externally
        setTodos(todos) {
          this.todos = todos;
          this.clear();
          this.render();
        }

        clear() {
          for (const child of this.children) {
            child.remove();
          }
        }
        
        render() {
          this.clear();
          
          // Create list element
          const todosArr = this.todos;
          const todoEls = todosArr
            .map(todo => {
              const checkboxEl = document.createElement('input');
              checkboxEl.type = "checkbox";
             
              // onChange should now show as it's not being serialized anymore
              checkboxEl.addEventListener('change', todo.onChange);
              checkboxEl.checked = todo.completed;

              const liEl = document.createElement('li');
              liEl.append(checkboxEl);
              liEl.append(todo.name);
              return liEl;
            });
          
          const ulEl = document.createElement('ul');
          for (const liEl of todoEls) {
            ulEl.append(liEl);
          }
          
          // Add header
          const header = document.createElement('h1');
          header.innerText = todosArr.filter(todo => todo.completed).length;

          // Reconstruct logic
          this.append(header);
          this.append(ulEl);
        }
        
      }
    
      customElements.define('my-component', MyComponent);
    </script>
    
    <!-- Todo list construction & helper function declaration -->
    <script>
      var currTodoId = 0;
      var todoList = [];
      
      function toggleTodoItem(todoId) {
        // This is mutable
        thisTodo = todoList.find(todo => todo.id == todoId);
        thisTodo.completed = !thisTodo.completed;
        changeElement();
      }
      
      window.onload = function() {
        const formEl = document.querySelector('#todoForm');
        const inputEl = document.querySelector('#todoName');
        formEl.addEventListener('submit', e => {
          e.preventDefault();
          const todoId = currTodoId++;
          todoList.push({
            name: inputEl.value,
            completed: false,
            id: todoId,
            onChange: () => {
              toggleTodoItem(todoId)
            }
          });
          inputEl.value = '';
          changeElement();
        })
      }
      
      function toggleAll() {
        todoList = todoList.map(todo => ({...todo, completed: !todo.completed}));
        changeElement();
      }
    </script>
    
    <!-- Update custom element properties via setter function -->   
    <script>
      function changeElement() {
        const compEl = document.querySelector('#mycomp');
        compEl.setTodos(todoList);
      }
    </script>
    
  </head>
  <body>
    <button onclick="toggleAll()">Toggle all</button>
    <form id="todoForm">
      <input id="todoName" type="text"/>
      <button>Add</button>
    </form>
    <my-component id="mycomp"></my-component>
  </body>
</html>