@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import '../sidebar/sidebar.css';


body{
   background-color: #2e3e3f;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar ul li:first-child a{
color: white;
}

.wrapper .sidebar ul li:first-child{
  background-color: #acc8c9;
}

.wrapper .main_content{
  width: 100%;
  padding: 100px 100px;
}

.wrapper .main_content h1{
  text-align: center;
  color: #acc8c9;
}


.flex-container {
  display: flex;
  align-items:center;
  padding-top: 100px;
  margin: -80px 125px;
  list-style: none;
  justify-content: space-around;
}

.flex-item {
  display: flex;
  align-items:center;
  background: #acc8c9;
  margin: 4px;
  color: #2e3e3f;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  width: 250px;
  min-width: 210px;
  height: 200px;
  min-height: 180px;
  padding-left: 0px;
  border: 2px solid rgba(211, 245, 250, 0.3);
  border-radius: 28px;
}

