
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  
.nav{
  height: 100vh;
}
 .sidebar {
    width: 100%;
    min-width: 180px;
    height: 100%;
    background: #5c7879;
    padding: 30px 0px;
  }
  
  .wrapper .sidebar h2 {
    color: rgb(150, 204, 203);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  
  
  
  .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #5c7879;
  }
  
 .sidebar ul li a {
    color: #c4cfd4;
    display: block;
  }
  
  
.sidebar ul li a .fas {
    width: 25px;
    margin-right: 3px;
  }
  
.sidebar ul li:hover {
    background-color: #acc8c9;
  }
  
 .sidebar ul li:hover a {
    color: #fff;
  }
  
.sidebar .social_media {
    bottom: 0;
    left: 50%;
    display: flex;
  }
  
.sidebar .social_media a {
    display: block;
    width: 40px;
    background: #c4cfd4;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 auto;
    align-self: center;
    color: #091826;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .fa-bars{
    position: absolute;
    font-size: 0;
  }

  @media (max-width: 1060px){
    .flex-container{
      flex-wrap: wrap;
    }
  }
  
  
  .sidebar .fa-solid{
    display: none;
  }
  
  
  @media(max-width:650px) {
  
    .wrapper .sidebar ul li {
      display: block;
    }
    .sidebar {
      max-width: 200px;
      height: 100%;
      top: 0;
      left: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
    }
    .nav .fa-solid{
      display: block;
      color: #fff;
      font-size: 22px;
      margin: 15px;
      cursor: pointer;
    }
    .sidebar .fa-solid{
      margin-left: 80%;
      padding-bottom: 10%;
   }
   .fa-bars{
    position: absolute;
    display: block;
   }
  }
  