@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import '../../sidebar/sidebar.css';


body {
  background-color: #2e3e3f;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar ul :nth-child(2) a {
  color: white;
}
.wrapper .sidebar ul :nth-child(2) {
  background-color: #acc8c9;
}


.main_content {
  display: flex;
  width: 100%;
  padding: 30px 0px;
  align-items:center;
  flex-direction: column;
}


.wrapper .main_content h1{
  text-align: center;
  color: #acc8c9;
}

.main_content h1:first-of-type{
  font-size: 50px;
  padding-bottom: 10px;
}

#editDomainWindow{
  width: 65vw;
  height: 80vh;
  background: #acc8c9;
  margin: 4px;
  color: #2e3e3f;
  font-weight: bold;
  font-size: 2em;
  padding-left: 10%;
  padding-top: 2%;
  border: 2px solid rgba(211, 245, 250, 0.3);
  border-radius: 28px;
  flex-direction: column;
}

#edit_domain_form input{
  height: 35px;
  width: 180px;
}

.main_content .fas{
  padding-left: 8px;
  font-size: 27px;
}


#add_domain_form input{
  height: 45px;
  width: 180px;
}

#edit_domain_form Button{
  margin-top: 6%;
  width: 140px;
  height: 50px;
  border:none;
  color: white;
  background-color: #2e3e3f;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}


#username_form{
  display: none;
}
#add_new_user,#cancel_username{
  height: 35px;
  width: 60px;
  border:none;
  color: white;
  background-color: #2e3e3f;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}

#username_form button{
  height: 36px;
  width: 80px;
  border:none;
  color: white;
  background-color: #2e3e3f;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}

#edit_domain_form Button:hover{
  background-color:#01858f;
}

#edit_domain_form .fas:hover{
  color:#01858f;
  font-size: 35px;
}

#domain_moderators_list{
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 280px;
  overflow: auto;
}

#domain_moderators_list li{
  color: #2e3e3f;
  display: flex;
  flex-direction: row;
}
.fa-pen{
  margin-left: auto;
  margin-right: 10px;
}
.fa-trash{
  margin-right: 10px;
}
#domain_moderators_list li a{
  align-self: left;
}


/*nu merge fara copy paste, aiae */
@media(max-width:650px) {

  .wrapper .nav .sidebar {
    position: absolute;
    height: 100vh;
    top: 0;
    left: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  .nav .fa-solid {
    display: block;
    color: #fff;
    font-size: 22px;
    margin: 15px;
    cursor: pointer;
  }

  .sidebar .fa-solid {
    margin-left: 80%;
    padding-bottom: 10%;
  }
}
