@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #2e3e3f;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 200px;
  height: 100%;
  background: #5c7879;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2 {
  color: rgb(150, 204, 203);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}



.wrapper .sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid #5c7879;
}

.wrapper .sidebar ul li a {
  color: #c4cfd4;
  display: block;
}


.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul :nth-child(2) a {
  color: white;
}

.wrapper .sidebar ul :nth-child(2) {
  background-color: #acc8c9;
}

.wrapper .sidebar ul li:hover {
  background-color: #acc8c9;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.wrapper .sidebar .social_media {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a {
  display: block;
  width: 40px;
  background: #c4cfd4;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #091826;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}




.main_content {
  display: flex;
  width: 100%;
  margin-left: 200px;
  padding: 40px 0px;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  
}


.wrapper .main_content h1{
  text-align: center;
  color: #acc8c9;
}

.main_content h1:first-of-type{
  font-size: 50px;
  padding-bottom: 10px;
}


.wrapper .main_content .text{
  text-align: center;
  color: #385170;
}

#editDomainWindow{
  display: flex;
  width: 65vw;
  height: 70vh;
  background: #acc8c9;
  margin: 4px;
  color: #2e3e3f;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  padding-left: 0px;
  border: 2px solid rgba(211, 245, 250, 0.3);
  border-radius: 28px;
  flex-direction: column;
}

#edit_domain_form Button{
  margin-top: 6%;
  width: 140px;
  height: 50px;
  border:none;
  color: white;
  background-color: #2e3e3f;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}

#edit_domain_form Button:hover{
  background-color:#01858f;
}


@media (max-width: 1060px) {
  .flex-container {
    flex-wrap: wrap;
  }
}

@media (max-width: 1060px) {
  .wrapper .main_content {
    margin-left: 100px;
  }
}