@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import '../../sidebar/sidebar.css';

body {
  background-color: #2e3e3f;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar ul :nth-child(2) a {
  color: white;
}

.wrapper .sidebar ul :nth-child(2) {
  background-color: #acc8c9;
}



.wrapper .main_content h1{
  color: #acc8c9;
}

.wrapper .main_content .text{
  text-align: center;
  color: #385170;
}

.main_content h1:first-of-type{
  font-size: 50px;
  padding-bottom: 10px;
}

.main_content {
  display: flex;
  width: 100%;
  margin-left: 200px;
  padding: 30px 0px;
  align-items:center;
  flex-direction: column;
}


#addDomainWindow{
  display: flex;
  width: 65vw;
  height: 70vh;
  background: #acc8c9;
  margin: 4px;
  color: #2e3e3f;
  font-weight: bold;
  font-size: 2em;
  padding-left: 15%;
  border: 2px solid rgba(211, 245, 250, 0.3);
  border-radius: 28px;
  flex-direction: column;
}

#add_domain_form{
  margin-top: 4%;
}
form .input{
  height: 50;
}

#username{
  height:35px;
  width: 100px;
}

#add_new_user,#cancel_username{
  height: 35px;
  width: 60px;
  border:none;
  color: white;
  background-color: #2e3e3f;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}


#domain_moderators_list{
  width: 380px;
  height: 160px;
  overflow: auto;
}
#username_form{
  display: none;
}

#add_domain_form Button{
  margin-top: 6%;
  width: 140px;
  height: 50px;
  border:none;
  color: white;
  background-color: #2e3e3f;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}

#add_domain_form input{
  height: 35px;
  width: 180px;
}

#add_domain_form Button:hover{
  background-color:#01858f;

}

#username_form button{
  height: 35px;
  width: 65px;
}

#add_domain_form .fas:hover{
  color:#01858f;
  font-size: 40px;
}



@media (max-width: 1060px) {
  .flex-container {
    flex-wrap: wrap;
  }
}

@media (max-width: 1060px) {
  .wrapper .main_content {
    margin-left: 100px;
  }
}